<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AssemblyLocation" version="0.0.1.0" targetFramework="net461" />
  <package id="Common" version="0.0.1.0" targetFramework="net461" />
  <package id="SimpleLogging" version="1.0.0.0" targetFramework="net461" />
  <package id="Verification" version="1.0.0.3" targetFramework="net461" />
</packages>